<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">

   		<ul class="contact-list">
        <li><img src="/media/Ilios-Logo-small.png" alt="" height="49" width="163" border="0"></li>
        <span class="logo-medbiquitous"><img src="/media/MEDBIQ-logo.png" alt="Medbiquitous Member"></span>
      </ul>
    </div>

      <div class="footer-col  footer-col-2">

        <ul class="social-media-list">
          <li>
            <a href="https://www.netlify.com">
              <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Netlify" />
            </a>
          </li>
          <li>
            <script async defer src="https://ilios-slack.herokuapp.com/slackin.js"></script>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <span class="text">a product of</span> <img src="/media/UCSF_SOM_logo.png" alt="UCSF School of Medicine">
    </div>
  </div>
</footer>
