html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@view-transition {
  navigation: auto;
}
