body {
  display: grid;
  grid-template-areas:
    'header'
    'navigation'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;

  & > header {
    grid-area: header;
  }

  & > nav {
    grid-area: navigation;
  }

  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}
