:root {
  --fs-smallest: max(0.5rem, 9px);
  --fs-small: 0.833rem;
  --fs-base: 1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.44rem;
  --fs-xl: 1.728rem;
  --fs-xxl: 2.074rem;
  --fs-xxxl: 2.488rem;
  --fs-huge: 15rem;
}

html {
  color: var(--grey);
  font-family: Helvetica, Arial, sans-serif;

  @media screen and (width >= 768px) {
    --fs-huge: 25rem;
  }

  @media screen and (width >= 1200px) {
    --fs-huge: 30rem;
  }

  line-height: calc(4px + 2ex);
  font-size: 16px;

  @media screen and (width >= 1200px) {
    font-size: calc(10px + 0.5vw);
  }

  @media screen and (width >= 1920px) {
    font-size: 20px;
  }
}

a {
  color: var(--blue);
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
  line-height: calc(1px + 3ex);
}

p,
li {
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: calc(4px + 2ex);
}

h1 {
  font-size: var(--fs-xxl);

  @media (width <= 400px) {
    font-size: var(--fs-xl);
  }
}

h2 {
  font-size: var(--fs-xl);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h3 {
  font-size: var(--fs-xl);
}

h4 {
  font-size: var(--fs-large);
}

h5 {
  font-size: var(--fs-medium);
}

h6 {
  font-size: var(--fs-base);
}

a:visited {
  color: var(--purple);
}
