@use "../constants";
@use "../mixins";
@use "sass:math";

/**
 * Site header
 */
.site-header {
  border-top: 5px solid var(--grey-color-dark);
  border-bottom: 1px solid var(--grey-color-light);
  padding-left: 0;
  min-height: 68px;
  max-height: 68px;
  background-color: rgb(216, 91, 0);

  // Positioning context for the mobile navigation icon
  position: relative;

  @include mixins.media-query(constants.$on-laptop) {
    padding-left: 7em;
  }
}
//adding this for the header tagline
.site-header-tag {
  float: right;
  padding-top: 45px;
  padding-left: 12px;
  margin-left: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  z-index: 1;

  @include mixins.media-query(constants.$on-palm) {
    display: none;
  }
}
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  float: left;
  img {
    height: 60px;
    width: 120px;
    padding-bottom: 7px;
  }

  &,
  &:visited {
    color: var(--grey-color-dark);
  }
}

.site-nav {
  //   vertical-align: sub;
  clear: both;
  float: left;
  line-height: 34px;
  z-index: 5;

  #menu-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    display: inline-block;
    line-height: constants.$base-line-height;
    margin-top: 1.5em;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 30px;
    }

    &.active {
      color: #c66;
    }

    &.space-link {
      line-height: 0.5em;
      &:first-child {
        padding-top: 0.5em;
      }
    }
  }

  @include mixins.media-query(constants.$on-palm) {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    #menu-icon {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      line-height: 0;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: var(--grey-color-dark);
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: constants.$spacing-unit 0;

  .acr {
    width: 2rem;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: calc(constants.$spacing-unit / 2);
}

.contact-list {
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: var(--grey-color);
  margin-left: calc(-#{constants.$spacing-unit} / 2);
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: calc(constants.$spacing-unit / 2);
  padding-left: calc(constants.$spacing-unit / 2);
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{constants.$spacing-unit} / 2));
  width: calc(35% - (#{constants.$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{constants.$spacing-unit} / 2));
  width: calc(20% - (#{constants.$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{constants.$spacing-unit} / 2));
  width: calc(45% - (#{constants.$spacing-unit} / 2));
}

@include mixins.media-query(constants.$on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{constants.$spacing-unit} / 2));
    width: calc(50% - (#{constants.$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{constants.$spacing-unit} / 2));
    width: calc(100% - (#{constants.$spacing-unit} / 2));
  }
}

@include mixins.media-query(constants.$on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{constants.$spacing-unit} / 2));
    width: calc(100% - (#{constants.$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: constants.$spacing-unit 0;
  z-index: 4;

  h1 {
    font-weight: bold;
    font-size: 32px;

    @include mixins.media-query(constants.$on-laptop) {
      font-size: 28px;
    }
  }

  .subscribe-for-updates {
    float: right;
    font-weight: bold;
    font-size: 16px;
  }
}

.page-heading {
  font-size: 20px;
}
.page-tabla {
  padding: 0 1em;
}
.reports-key {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 0.25em;
  width: 100%;
}
.reports-key .row {
  align-items: center;
  display: flex;
}
.reports-key .square {
  border: 2px solid #000;
  height: 24px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  width: 24px;
}
.reports-key .square.implemented {
  background: linear-gradient(
    to bottom right,
    #fff 0%,
    #fff 50%,
    #8bfafe 50%,
    #8bfafe 100%
  );
}
.reports-key .square.not-available-being-reviewed {
  background-color: #c5c5c5;
}
.reports-key .square.not-available {
  background-color: #3c3c3c;
}
.reports-key .square.implemented-to-be-removed {
  background-color: #b02816;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: constants.$spacing-unit;
  }
}

.post-meta {
  color: var(--grey-color);
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  clear: both;
  margin-bottom: constants.$spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include mixins.media-query(constants.$on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: constants.$spacing-unit;

  h2 {
    font-size: 32px;

    @include mixins.media-query(constants.$on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include mixins.media-query(constants.$on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include mixins.media-query(constants.$on-laptop) {
      font-size: 18px;
    }
  }
}

.fourOhFour {
  text-align: center;
  img {
    width: 75%;
  }
}

.acr {
  h2 {
    margin-top: 2rem;
  }

  table {
    td,
    th {
      text-align: center;
    }
    td:first-of-type {
      text-align: left;
    }
  }
}

.overlay {
  background: var(--background-color-transparent);
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay.enabled {
  display: block;
}

#search-container {
  background: var(--background-color);
  border: 1px solid var(--grey-color);
  margin: 10px 0 5px;
  padding: 3px;
  position: relative;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  #search-container {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
#search-container.selected {
  background: var(--background-color);
  border: 0;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
#search-container input {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0;
  padding: 0.5em;
  position: relative;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}
@media (min-width: 450px) {
  #search-container input {
    font-size: 1.25em;
  }
}
#search-container input::placeholder {
  color: var(--grey-color);
}
#search-container input.selected {
  border-bottom: 1px solid var(--grey-color-dark);
  border-radius: 4px;
  outline: none;
}

#results-container {
  display: none;
  margin: 0;
  padding-left: 20px;
}
#results-container.display {
  display: block;
}
