---
import Content from '../layouts/Content.astro';
---

<style>
  div {
    margin: auto;
    text-align: center;

    img {
      width: 50%;
    }
  }
</style>

<Content title="404 Not Found" description="404 Not Found">
  <div>
    <h2>404: Rats! I couldn't find that.</h2>
    <img src="/assets/lostcat.png" alt="funny lost cat" />
  </div>
</Content>
