---
import Content from '../layouts/Content.astro';
---

<style>
  img {
    width: 75%;
  }
</style>

<Content
  title="Hosting"
  description="If you are interested in having us host your Ilios instance for you in our secure production environment, let us know. We can help migrate your existing Ilios, or if you are new to Ilios we can spin you up an original setup."
>
  <h1>Hosting</h1>

  <h2>We Can Host You</h2>

  <p>
    If you are interested in having us host your Ilios instance for you in our secure production
    environment, let us know. We can help migrate your existing Ilios, or if you are new to Ilios we
    can spin you up an original setup. Our pricing is competitive (your entire institution can run
    Ilios for about the <a href="/parking-pricing">cost of daily parking</a>), and our goal is to
    keep costs as low as possible for you -- based on our own bare-bones AWS costs of service. <a
      href="/hosting-pricing">See Sample Pricing</a
    >
  </p>

  <p>
    You Get automatic upgrades, always current releases, and the security of knowing that your
    servers are being managed by the core Ilios team! Please <a href="mailto:info@iliosproject.org"
      >contact us</a
    > for pricing, details, and more info.
  </p>
  <img src="/assets/ilios-application-flow.png" alt="Ilios AWS Schema" />
</Content>
