---
import Content from '../layouts/Content.astro';
---

<Content title="Home" description="Curriculum Management for the Health Professions">
  <nav aria-label="Primary">
    <ul>
      <li><a href="/hosting">Ilios Hosting <strong>Get Hosted!</strong></a></li>
      <li><a href="https://www.github.com/ilios/ilios/releases/latest/" target="_blank">Ilios In House <strong>Get The Code!</strong></a></li>
      <li><a href="/subscribe">Join The Ilios Community - <em>Subscribe for Updates</em></a></li>
      <li><a href="/demo">Demo Site Information</a></li>
      <li><a href="https://iliosproject.gitbooks.io/ilios-user-guide/content/" target="_blank">Latest User Guide</a></li>
    </ul>
  </nav>
</Content>
