---
import { getCollection } from 'astro:content';
import Content from '../layouts/Content.astro';
import PostSummary from '../components/PostSummary.astro';
import FaIcon from '../components/FaIcon.astro';

const posts = (await getCollection('post')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;

    &:not(.is-expanded) {
      li:nth-child(n + 11) {
        display: none;
      }
    }
  }

  .subscribe-for-updates {
    float: right;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    width: 90%;
    text-align: center;
    background: none;
    border: 0;
    color: var(--blue);
    font-size: var(--fs-large);
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }
</style>
<Content title="News" description="What's new in Ilios?">
  <h1>News</h1>
  <div class="subscribe-for-updates">
    <a href="/subscribe">Subscribe for Updates</a>
  </div>
  <ul data-news-list>
    {posts.map((post) => <PostSummary post={post} home={false} readMore={false} />)}
  </ul>
  <button data-load-more type="button">
    <FaIcon iconName="angles-down" prefix="fas" />
    Load More News Items
    <FaIcon iconName="angles-down" prefix="fas" />
  </button>
</Content>

<script>
  const loadMoreButton = document.querySelector('[data-load-more]');
  const newsList = document.querySelector('[data-news-list]');

  if (loadMoreButton && newsList) {
    loadMoreButton.addEventListener('click', () => {
      newsList.classList.add('is-expanded');
      loadMoreButton.classList.add('hidden');
    });
  }
</script>
