---
import Content from '../layouts/Content.astro';
---

<style>
  img {
    width: auto;

    &.full-width {
      width: 100%;
    }
  }
</style>

<Content
  title="Parking - Pricing"
  description="For $32 a day, you can either park one car in the lot, or have your whole school running Ilios"
>
  <h1>Parking - Pricing</h1>
  <p><a href="/hosting">&lt;-- Back</a></p>
  <h2>We Can Host You</h2>

  <p>
    For $32 a day, you can either park one car in the lot, or have your whole school running Ilios:
  </p>

  <img
    src="https://gallery.mailchimp.com/845c4ebabb5b5ae7a6372c715/images/a4ce7746-128e-48b0-9fe0-7691bc94d6ee.png"
    alt="Parking Prices"
  />

  <a
    href="https://gallery.mailchimp.com/845c4ebabb5b5ae7a6372c715/images/b70aa30e-0d9a-4bf6-af9b-ce25adfa7454.png"
    target="_blank"
    ><img
      class="full-width"
      src="https://gallery.mailchimp.com/845c4ebabb5b5ae7a6372c715/images/b70aa30e-0d9a-4bf6-af9b-ce25adfa7454.png"
      alt="Ilios AWS Schema"
    /></a
  >
</Content>
