---
import Content from '../layouts/Content.astro';
---

<Content title="Team" description="The Ilios Project core team, contributors, and sponsors">
  <h1>The Ilios Project Core Team & Contributors</h1>

  <ul>
    <li>
      Sascha Cohen (<a href="https://github.com/saschaben">@saschaben</a>), Director, Strategic
      Development
    </li>
    <li>
      Jon Johnson (<a href="https://github.com/jrjohnson">@jrjohnson</a>), Lead Applications
      Programmer
    </li>
    <li>
      Stefan Topfstedt (<a href="https://github.com/stopfstedt">@stopfstedt</a>), Senior
      Applications Programmer
    </li>
    <li>
      Jason Hedrick (<a href="https://github.com/thecoolestguy">@thecoolestguy</a>), Applications
      Programmer
    </li>
    <li>Brandon Lo (<a href="https://github.com/blo1">@blo1</a>), Applications Programmer</li>
    <li>
      Michael Chadwick (<a href="https://github.com/michaelchadwick">@michaelchadwick</a>),
      Applications Programmer
    </li>
    <li>Dave Leonard (<a href="https://github.com/dartajax">@dartajax</a>), User Support</li>
    <li>Rich Trott (<a href="https://github.com/Trott">@Trott</a>), Contributor</li>
  </ul>

  <ul>
    <li>
      Gaby Campagna (<a href="https://github.com/gabycampagna">@gabycampagna</a>), Contributor (Data
      Visualization Programmer)
    </li>
    <li>Thomas Lee (<a href="https://github.com/djvoa12">@djvoa12</a>), Contributor</li>
    <li>Jen Zweben (<a href="https://github.com/jenzweben">@jenzweben</a>), Contributor (UX/UI)</li>
    <li>Geoffrey Boushey (<a href="https://github.com/boushey">@boushey</a>), Contributor</li>
    <li>Carson Tam (<a href="https://github.com/ctam">@ctam</a>), Contributor</li>
    <li>Victor Passapera (<a href="https://github.com/vpassapera">@vpassapera</a>), Contributor</li>
  </ul>

  <ul>
    <li>
      Loki der Quaeler (<a href="https://github.com/quaeler">@quaeler</a>), Lead Developer (<em
        >emeritus</em
      >)
    </li>
    <li>
      Rolf Mortensen (<a href="https://github.com/rolfsf">@rolfsf</a>), Usability Designer (<em
        >emeritus</em
      >)
    </li>
  </ul>

  <p>
    Want to be a part of the Ilios team, and help to create even better tools and features? Ilios is
    an <a href="http://opensource.org/">Open Source</a>, community-based software application. <a
      href="https://github.com/ilios">Fork the code at GitHub</a
    >, and get yourself started!
  </p>

  <h2>Sponsors</h2>

  <p>
    The Ilios Project is indebted to the continuing support and sponsorship from the Deans and
    leadership of the following institutions:
  </p>

  <ul>
    <li><strong><em>UCSF</em></strong> <em>School of Medicine</em></li>
    <li><strong><em>UCSF</em></strong> <em>IT Education</em></li>
    <li><strong><em>UCSF</em></strong> <em>School of Pharmacy</em></li>
    <li><strong><em>UC Irvine</em></strong> <em>School of Medicine</em></li>
    <li><strong><em>Stanford University</em></strong> <em>School of Medicine</em></li>
  </ul>
</Content>
