<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;

    div {
      display: inline-flex;
      flex-direction: row;
      white-space: nowrap;
    }
    .acr {
      width: 1rem;
      height: 1rem;
    }
  }
</style>
<footer>
  <div>
    <span class="text">a product of</span>
    <img src="/media/ucsf-som-logo.png" alt="UCSF School of Medicine" />
    <img src="/media/MEDBIQ-logo.png" alt="Medbiquitous Member" />
  </div>
  <a href="/acr">
    <img
      class="acr"
      src="/media/universal-access-solid-full.svg"
      alt="Universal Access, Accessibility Conformance Report"
    />
  </a>
  <a href="/feed.xml">
    <img
      src="assets/rss-feed.svg"
      width="24"
      height="24"
      title="Subscribe to Ilios News"
      alt="Subscribe to Ilios News"
    />
  </a>
  <a href="https://www.netlify.com">
    <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Netlify" />
  </a>
</footer>
