---
import Search from 'astro-pagefind/components/Search';
---

<style>
  header {
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-small);
    padding: 0 0.5rem;

    .logo {
      align-self: center;
      display: flex;
    }

    a {
      padding-right: 5rem;

      @media (max-width: 768px) {
        padding-right: 1rem;
      }
      @media (max-width: 525px) {
        padding-right: 1rem;
      }
      img {
        padding: 0 5px;
        width: 75px;
      }

      .visually-hidden {
        border: 0;
        clip-path: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
    }

    .pagefind-ui {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 600px) {
        padding-right: 1.5rem;
      }
    }
    .pagefind-ui__form::before {
      height: calc(15px * var(--pagefind-ui-scale));
      top: calc(10px * var(--pagefind-ui-scale));
    }
    .pagefind-ui__search-input {
      font-size: calc(18px * var(--pagefind-ui-scale));
      height: calc(40px * var(--pagefind-ui-scale));
    }
    .pagefind-ui__search-clear {
      height: calc(28px * var(--pagefind-ui-scale));
      top: calc(5px * var(--pagefind-ui-scale));
    }
    .pagefind-ui__drawer {
      background-color: var(--white);
      max-height: 90vh;
      overflow-y: auto;
      position: absolute;

      .pagefind-ui__results-area {
        .pagefind-ui__message {
          margin-left: 0;
          padding: 0 1.5rem 1rem 1.5rem;
        }
      }

      .pagefind-ui__results {
        .pagefind-ui__result {
          padding: calc(20px * var(--pagefind-ui-scale)) 0 calc(30px * var(--pagefind-ui-scale));

          .pagefind-ui__result-inner {
            display: block;
            & > * {
              margin-left: 1.5rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
    }
  }
</style>

<header>
  <div class="logo">
    <a href="/" aria-label="Ilios Home">
      <img src="/media/ilios-logo.svg" alt="Ilios Logo" />
      <span class="visually-hidden">Ilios</span>
    </a>
  </div>
  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</header>

<script>
  // fixes a11y issue in pagefind component until fixed upstream
  // https://dequeuniversity.com/rules/axe/4.11/label-title-only?application=playwright
  const searchInput = document.querySelector('.pagefind-ui__search-input');

  if (searchInput) {
    searchInput.ariaLabel = 'Search';
  }
</script>
