<style>
  header {
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: var(--fs-small);
    padding: 0 0.5rem;

    a {
      img {
        padding: 0 5px;
        width: 75px;
      }

      .visually-hidden {
        border: 0;
        clip-path: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
    }
  }
</style>

<header>
  <div>
    <a href="/" aria-label="Ilios Home">
      <img src="/media/ilios-logo.svg" alt="Ilios Logo" />
      <span class="visually-hidden">Ilios</span>
    </a>
  </div>
</header>
