<style>
  nav {
    display: flex;
    justify-content: flex-end;

    & ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
    }

    & li {
      padding-right: 1rem;

      a {
        color: var(--black);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: var(--orange);

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
</style>
<nav aria-label="Primary">
  <ul>
    <li><a class={Astro.url.pathname == '/about' ? 'active' : ''} href="/about">About</a></li>
    <li>
      <a class={Astro.url.pathname == '/contact-us' ? 'active' : ''} href="/contact-us"
        >Contact Us</a
      >
    </li>
    <li><a class={Astro.url.pathname == '/news' ? 'active' : ''} href="/news">News</a></li>
    <li><a class={Astro.url.pathname == '/team' ? 'active' : ''} href="/team">Team</a></li>
    <li>
      <a class={Astro.url.pathname == '/technology' ? 'active' : ''} href="/technology"
        >Technology</a
      >
    </li>
    <li>
      <a class={Astro.url.pathname == '/timeline' ? 'active' : ''} href="/timeline">Timeline</a>
    </li>
    <li>
      <a href="https://us3.campaign-archive2.com/home/?u=845c4ebabb5b5ae7a6372c715&id=1493e3df18"
        >Status Reports</a
      >
    </li>
  </ul>
</nav>
