---
import type { RenderedContent } from 'astro:content';
interface Post {
  id: string;
  data: {
    date: Date;
    title: string;
    description?: string;
    imagePath?: string;
    imageAlt?: string;
  };
  rendered?: RenderedContent;
}

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const { id, data } = post;
const { title, date } = data;
const html: string = post.rendered?.html ?? '';

// format publication date for the given post.
const formattedDate = date.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
});

// retrieve and truncate the post body after the first paragraph.
// this makes it consistent with Jekyll's default behavior for
// creating post excerpts.
// see https://jekyllrb.com/docs/posts/#post-excerpts
const closingParagraph = '</p>';
const idxClosingParagraph = html.indexOf(closingParagraph);
const idxCutOff = idxClosingParagraph + closingParagraph.length;
let content = html;
if (idxClosingParagraph !== -1 && idxCutOff < html.length) {
  content = html.slice(0, idxCutOff);
}
---

<style>
  li {
    margin-bottom: 1rem;

    img {
      max-width: 15rem;
    }
  }
</style>

<li>
  <h2>
    <a class="post-link" href={`/news/${id}`}>{title}</a>
  </h2>
  {formattedDate && <span class="post-meta">{formattedDate}</span>}
  <Fragment set:html={content} />
</li>
