---
import Search from 'astro-pagefind/components/Search';
---

<style>
  #site-search {
    .icon .search {
      cursor: pointer;
      display: none;
      height: 24px;
      position: relative;
      width: 24px;

      &.show {
        display: block;
      }

      @media screen and (max-width: 600px) {
        right: 3rem;
      }
    }

    #pagefind-search {
      display: none;

      &.show {
        display: flex;
      }
    }

    .pagefind-ui {
      @media screen and (max-width: 600px) {
        padding-right: 1.5rem;
      }
    }
    .pagefind-ui__form::before {
      height: calc(15px * var(--pagefind-ui-scale));
      top: calc(10px * var(--pagefind-ui-scale));
    }
    .pagefind-ui__search-input {
      font-size: calc(18px * var(--pagefind-ui-scale));
      height: calc(40px * var(--pagefind-ui-scale));
    }
    .pagefind-ui__search-clear {
      height: calc(28px * var(--pagefind-ui-scale));
      top: calc(5px * var(--pagefind-ui-scale));
    }
    .pagefind-ui__drawer {
      background-color: var(--white);
      max-height: 90vh;
      overflow-y: auto;
      position: absolute;

      .pagefind-ui__results-area {
        .pagefind-ui__message {
          margin-left: 0;
          padding: 0 1.5rem 1rem 1.5rem;
        }
      }

      .pagefind-ui__results {
        .pagefind-ui__result {
          padding: calc(20px * var(--pagefind-ui-scale)) 0 calc(30px * var(--pagefind-ui-scale));

          .pagefind-ui__result-inner {
            display: block;
            & > * {
              margin-left: 1.5rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
    }
  }
</style>

<div id="site-search">
  <div class="icon">
    <img src="/assets/search.svg" class="search show" alt="Search" />
  </div>
  <Search id="pagefind-search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</div>

<script>
  const searchIcon = document.querySelector('img.search');
  const searchUI = document.getElementById('pagefind-search') as HTMLElement;
  const searchInput = document.querySelector('.pagefind-ui__search-input') as HTMLElement;

  function toggleSearchUI() {
    // `document.activeElement` is the element that currently has focus.
    const isFocusedInside = searchUI.contains(document.activeElement);

    if (isFocusedInside) {
      searchUI.classList.add('show');
      searchIcon?.classList.remove('show');
    } else {
      searchUI.classList.remove('show');
      searchIcon?.classList.add('show');
    }
  }

  searchUI.addEventListener('focusin', toggleSearchUI);
  searchUI.addEventListener('focusout', () => {
    // Timeout gives the browser a chance to move focus to another child.
    setTimeout(toggleSearchUI, 0);
  });

  if (searchIcon) {
    searchIcon.addEventListener('click', (event) => {
      const target = event.target as HTMLElement;
      target.classList.remove('show');

      if (searchUI) {
        searchUI.classList.add('show');
      }

      if (searchInput) {
        searchInput.classList.add('show');
        searchInput.focus();
        // fixes a11y issue in pagefind component until fixed upstream
        // https://dequeuniversity.com/rules/axe/4.11/label-title-only? application=playwright
        searchInput.ariaLabel = 'Search';
      }
    });
  }
</script>
