---
import Search from 'astro-pagefind/components/Search.astro';
import FaIcon from './FaIcon.astro';
---

<style>
  .icon .search {
    cursor: pointer;
    display: none;
    height: 24px;
    position: relative;
    width: 24px;

    &.show {
      display: block;
    }

    @media screen and (max-width: 600px) {
      right: 3rem;
    }
  }

  #pagefind-container {
    display: none;

    &.show {
      display: flex;
    }

    .pagefind-ui {
      @media screen and (max-width: 600px) {
        padding-right: 3rem;
      }
    }
  }
</style>

<div class="icon">
  <FaIcon
    iconName="search"
    prefix="fas"
    class="search show"
    alt="Search"
    aria-label="Search"
    tabindex="0"
    aria-hidden="false"
    data-search-icon
  />
</div>
<div id="pagefind-container">
  <Search className="pagefind-ui" />
</div>

<script>
  const searchIcon = document.querySelector('[data-search-icon]') as HTMLElement;
  const searchWrapper = document.getElementById('pagefind-container') as HTMLElement;
  const searchUI = searchWrapper.querySelector('.pagefind-ui') as HTMLElement;
  const searchInput = searchUI.querySelector('.pf-searchbox-input') as HTMLElement;

  // hide icon, show input, focus input
  function openSearch() {
    searchWrapper.classList.add('show');
    searchIcon.classList.remove('show');
    setTimeout(() => searchInput.focus(), 0);
  }

  // hide input, show icon
  function closeSearch() {
    searchWrapper.classList.remove('show');
    searchIcon.classList.add('show');
  }

  // click searchIcon, show input
  if (searchIcon) {
    searchIcon.addEventListener('keydown', (event: KeyboardEvent) => {
      if (event.key == 'Enter') {
        event.stopPropagation();
        openSearch();
      }
    });
    searchIcon.addEventListener('click', (event) => {
      event.stopPropagation();
      openSearch();
    });
  }

  if (searchWrapper) {
    searchWrapper.tabIndex = 0;

    // hide search on escape key
    searchWrapper.addEventListener('keydown', (event) => {
      if (event.key == 'Escape') {
        closeSearch();
      }
    });
  }

  // fixes a11y issue in pagefind component until fixed upstream
  // https://dequeuniversity.com/rules/axe/4.11/label-title-only? application=playwright
  if (searchInput) {
    searchInput.ariaLabel = 'Search';
  }

  // click anywhere outside search UI -> hide search UI
  document.addEventListener('click', (event) => {
    const node = event.target as Node;
    if (!searchWrapper.contains(node) && !searchIcon.contains(node)) {
      closeSearch();
    }
  });

  searchWrapper.addEventListener('click', (event) => {
    event.stopPropagation();
  });
</script>
